<!DOCTYPE html>
{%load static%} <!--I am loading the css file, to access this - static/css/main.css> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--import for navbar icons-->
</head>
<body>
    <!-- Here you can put the nav bar and side bar html! -->
    <div class="header">
        <h1>Music Map (Working Title)</h1>
        <button style="float: right;"  type="button" class="btn btn-link">Login</button>

        
    </div>

    <ul class="navbar">
        <li><a href="{%url 'blog'%}">BLOG</a></li>
        <li><a class="fa fa-home" href="{%url 'content'%}" style="padding: 9px"></a></li>
        <li><a href="{%url 'about'%}">ABOUT</a></li>
    </ul>

 




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {%block content%}
    <!-- All of the content will be in this page, most likely where the music tree part of it, including the form
    (I can help you with this part later) -->


    {%endblock%}
</body>
</html>