{%extends "musicmap/base.html"%}
{%load static%}
{%block content%}

<div class="container">
  <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_added|date:"F d, Y" }}</small>
          {% if object.author == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-edit' object.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
          {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
      </div>
    </article>

    <br> <br>

    <div>
      <h1>Comments</h1>
    </div>

    {%if not object.comments.all%}
      <h3>No comments yet</h3>

    {%endif%}
    <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'add_comment' object.pk %}">Create New Comment</a>
    <br>
    


    {%for comment in object.comments.all %}

      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ comment.author }}</a>
            <small class="text-muted">{{ comment.date_added|date:"F d, Y" }}</small>
            {% if comment.author == user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'edit_comment' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_comment' object.id %}">Delete</a>
              </div>
            {% endif %}
          </div>
          <h2 class="article-title">{{ comment.title }}</h2>
          <p class="article-content">{{ comment.content }}</p>
        </div>
      </article>

    {%endfor%}



  </div>

{% endblock content %}