{%extends "musicmap/base.html"%}
{%load static%}
{%block content%}


<div class="sidenav">
    <h2 style="text-align: center;">Search For Artist:</h2>

    <div class= "container">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <br> <br>

    <div class= "container">
        <h3>Settings/Options</h3>
        <input id="randomsearch" type="checkbox" />
        <label for="randomsearch">Surprise Me!</label><br>
        <input id="nightmode" type="checkbox" />
        <label for="nightmode">Night Mode</label><br>
        <input id="autoplay" type="checkbox" />
        <label for="autoplay">Autoplay</label><br>
        <button class="btn_applysettings" style="margin-top: 10px;">Apply</button>
    </div>  
</div>





{%endblock%}